.header {
    padding-top: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.home,
.amazon,
.fk {
    border: solid 5px white;
    border-radius: 2px;
    flex: 0.33;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.homepage {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

#shirtsimage {
    text-align: center;
}

.simg {
    height: 65px;
    width: 76px;
    object-fit: cover;
}

.hpage {
    height: 100vh;
    background-color: lightcoral;
    width: 100%;
}

.amazon:hover {
    color: blue;
}


/* //////////////////////////////
////////////////////////////// */

.title {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: white;
}

.css-et1ao3-MuiTypography-root,
.css-14tqbo1 {
    font-family: 'Suez One', serif !important;
    font-size: 17px !important;
}

.key {
    font-family: 'Electrolize', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    color: gray;
    text-decoration: underline;
}

.ans {
    font-family: 'Bree Serif', serif;
    font-size: 17px;
    color: black;
}

.css-o69gx8-MuiCardMedia-root,
.css-rhsghg {
    height: 200px !important;
    width: 109px !important;
    object-fit: cover !important;
    margin-left: 27% !important;
}

#qwery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 22px;
    padding-bottom: 1%;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root,
.css-w88nxk {
    width: 345px !important;
}

.css-185gdzj-MuiCardHeader-root,
.css-faujvq {
    background-color: lightgray !important;
}


/* //////////////////////////////
////////////////////////////// */

#qwerty {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 28px;
    row-gap: 22px;
    padding-bottom: 1%;
}

#qwerty .css-rhsghg {
    height: 196px !important;
    width: 194px !important;
    object-fit: contain !important;
}